html,body{
    font-family: roboto;
    font-size: 20px;
}

.section_1 {  
    background: url(../assets/img/bg.png) no-repeat center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    max-height: 100%;
    max-width: 100%;
  }

.container-fluid{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 5em;
}
.figma-logo{
    position: absolute;
    top: 109px;
    left: 500px;
}

.nav-container_end{
    list-style: none;
    display: inline-flex;
    flex-direction: row;  
    margin-left: 420px;
    
}



.nav-container{
    list-style: none;
    display: inline-flex;
    flex-direction: row;

}


  a {
    color: white;
    text-decoration: none;
    
  }

  .navbar{
    padding: 2em;
    margin-bottom: 0;
    text-indent: 20px;
}  
  .nav-content{
      display: flex;
      flex-direction: column;
      align-items: center;
      color: whitesmoke;
      font-size: large;
      padding-bottom: 10em;
      margin: 4em;
}

button{
    background-color: #2091F9;
    border-radius: 20px;
    margin-top: 20px;
    padding: 0 2rem;
}

.text-frames{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: medium;
    margin-top: 5px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    grid-column-gap: 1px;
    font-size: small;

}

h3{
    font-weight: bolder;
    
}

#video{
    width: 100%;
    position: absolute;
    height: 500px;

}

#play{
    position: relative;
    top: 250px;
    left: 530px;
    
}

.text-container{
    margin-top: 30rem;
    margin-left: 50px;
    font-size: medium;
   
}

h4{
    font-weight: bolder;
}

h6{
    font-weight: bolder;
}

.news-flex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5em;

}
.seachbox{
    margin-top: 10px;
}

.newsletter-textbox{
    margin-top: 50px;
    margin-left: 90px;
    line-height: 20px;
}

.partners{
    margin-top: 20px;
    font-size: medium;
    font-weight: lighter;
    display: flex ;
    flex-direction: column;
    align-items: center;

}

.partner-imgs{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
}

.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: small;
    margin-top: 2em;
    padding: 2em;
}

.pricing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 10px;
    text-indent: 40px;
    
}
.pricing-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    line-height: 10px;
    color: beige;
}

p{
    line-height: 10px;
}
.pricing-section{
    background-color: #252B42;

}
.free{
    background-color: azure;
    margin-right: 40px;
}
.standard{
    background-color: #2091F9;
    margin-right: 40px;
    color: antiquewhite;
}
.business{
    background-color: azure;
}
.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
}
.contact-box{
    display: flex;
    flex-direction: column;
    width: 200px;
    border: 3px;
    border-style: solid;
    border-radius: 8px;
    border-color: whitesmoke;
    margin: 10px;
    font-size: 10px;
}

.map-container{
    display: flex;
    flex-direction: row;
    text-indent: 30px;
    font-size: 10px;
    padding: 10px;
    margin: 10px;
}

.contact-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
}


.contributors{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-items: center;
    font-size: 10px;
    margin: 3em;
    grid-gap: 20px;
    background-color: #252B42;
    color: beige;
    padding: 10px;
}